<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dev_serial %><br>
    <%= f.text_field :dev_serial %>
  </div>
  <div class="field">
    <%= f.label :km_userid %><br>
    <%= f.text_field :km_userid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
