<% people.each do |person| %>
  <tr class="person_row" id="person_<%= person.user_id %>">
    <% if admin %>
      <td><%= person.organization_name %></td>
    <% end %>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.email %></td>
    <% if person.uploads.length != 0 %>
      <% if person.uploads.first.date  %>
        <td><%= person.uploads.first.date.strftime("%b %d, %Y") %></td>
      <% end %>
      <% if person.uploads.last.date %>
        <td><%= person.uploads.last.date.strftime("%b %d, %Y") %></td>
      <% end %>
      <td><%= person.uploads.length %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
