<h1>People from KISSmetrics</h1>

<h4>Import</h4>
<p>Note: This import currently works for a csv file with two columns: 'km_userid' and 'pedserial'. Import functionality can and will be expanded.</p>
<%= form_tag import_people_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h3>Search</h3>
  <p><%= form_tag people_path, :method => :get, class: "form-search" do %>
    Last name: <%= text_field_tag :search_last_name, params[:search_last_name], class: "search-query" %></p>
    <h5>OR</h5>
    <p>Device serial: <%= text_field_tag :search_serial, params[:search_serial], class: "search-query" %></p>
    <p><%= submit_tag "Search", :name => nil, class: "btn btn-primary" %></p>
  <% end %>


<% if params[:search_last_name].present? %>
  <h3>Search Results for Last Name = <%= params[:search_last_name].capitalize %></h3>
  <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% elsif params[:search_serial].present? %>
  <h3>Search Results for Device serial number = <%= params[:search_serial] %></h3>
  <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% else %>
  <h3>First ten people</h3>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>KM UserID</th>
    <th>Omron UserID</th>
    <th>Pedserial</th>
    <th># of events performed</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.km_userid %></td>
    <td><%= person.omron_userid %></td>
    <td><%= person.pedserial %></td>
    <td><%= Event.where("doer" => person.km_userid).count %></td>
  </tr>
<% end %>
</table>
