<h1>People</h1>
<p><%= notice %></p>
<br>

<h4>Search</h4>
  <p><%= form_tag people_path, :method => :get, class: "form-search", remote: true do %>
    Last name: <%= text_field_tag :search_last_name, params[:search_last_name], class: "search-query" %></p>
    <p><%= submit_tag "Search", :name => nil, class: "btn btn-primary" %></p>
  <% end %>
<br>

<% if params[:search_last_name].present? %>
    <h4>Search Results for Last Name = <%= params[:search_last_name].capitalize %></h4>
    <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% end %>



<table class="table table-bordered table-striped">
  <tr>
    <% if current_client.organization.name == "Omron Fitness" %>
      <th>Organization</th>
    <% end %>
    <th>Name</th>
    <th>Email</th>
    <th>First Upload</th>
    <th>Last Upload</th>
    <th>Total Number of Days Uploaded</th>
    <% if current_client.organization.name == "Omron Fitness" %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @people.each do |person| %>
  <tr class="person_row" id="person_<%= person.id %>">
    <% if current_client.organization.name == "Omron Fitness" %>
      <td><%= person.organization.name %></td>
    <% end %>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.email %></td>
    <% if person.uploads.length != 0 %>
      <td><%= person.uploads.first.date.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.last.date.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.length %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
    <% if current_client.organization.name == "Omron Fitness" %>
      <td><%= link_to 'Edit', edit_person_path(person) %> </td>
      <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    <% end %>
  </tr>
<% end %>
</table>
