<h1>People</h1>
<p><%= notice %></p>
<br>
<h4><%= link_to "Operations", operations_url %></h4>
<br>

<h4>Search</h4>
  <p><%= form_tag people_path, :method => :get, class: "form-search" do %>
    Last name: <%= text_field_tag :search_last_name, params[:search_last_name], class: "search-query" %></p>
    <h5>OR</h5>
    <p>Device serial: <%= text_field_tag :search_serial, params[:search_serial], class: "search-query" %></p>
    <p><%= submit_tag "Search", :name => nil, class: "btn btn-primary" %></p>
  <% end %>
<br>

<% if params[:search_last_name].present? %>
    <h4>Search Results for Last Name = <%= params[:search_last_name].capitalize %></h4>
    <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% elsif params[:search_serial].present? %>
    <h4>Search Results for Device serial number = <%= params[:search_serial] %></h4>
    <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% else %>
    <h4>All</h4>
<% end %>



<table class="table table-bordered table-striped">
  <tr>
    <% if current_user.organization.name == "Omron Fitness" %>
      <th>Organization</th>
    <% end %>
    <th>Name</th>
    <th>Email</th>
    <th>Dev Serial</th>
    <th>First Upload</th>
    <th>Last Upload</th>
    <th>Total Number of Days Uploaded</th>
    <% if current_user.organization.name == "Omron Fitness" %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @people.each do |person| %>
  <tr>
    <% if current_user.organization.name == "Omron Fitness" %>
      <td><%= person.organization.name %></td>
    <% end %>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.email %></td>
    <td><%= person.dev_serial %></td>
    <% if person.uploads.exists? %>
      <td><%= person.uploads.order("upload_time ASC").first.upload_time.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.order("upload_time ASC").last.upload_time.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.count %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
    <% if current_user.organization.name == "Omron Fitness" %>
      <td><%= link_to 'Edit', edit_person_path(person) %> </td>
      <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    <% end %>
  </tr>
<% end %>
</table>
