<h1>People from KISSmetrics</h1>

<h4>Import</h4>
<%= form_tag import_people_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<h4>Full list</h4>
<table class="table table-bordered table-striped">
  <tr>
    <th>Pedserial</th>
    <th>KM UserID</th>
    <th># of events performed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.pedserial %></td>
    <td><%= person.km_userid %></td>
    <td><%= Event.where("doer" => person.km_userid).count %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
