<h1>People</h1>
<p><%= notice %></p>
<br>

<div class="search_input">
<h4>Search</h4>
  <p><%= form_tag people_path, :method => :get, class: "form-search", remote: true do %>
    Last name: <%= text_field_tag :search_last_name, params[:search_last_name], class: "search-query" %></p>
    <p><%= submit_tag "Search", :name => nil, class: "btn btn-primary" %></p>
  <% end %>
<br>
</div>


<div class="clear_search"></div>


<%= paginate @people %>
<table class="table table-bordered table-striped">
  <tr>
    <% if admin %>
      <th>Organization</th>
    <% end %>
    <th>Name</th>
    <th>Email</th>
    <th>First Upload</th>
    <th>Last Upload</th>
    <th>Total Number of Days Uploaded</th>
  </tr>

<% @people.each do |person| %>
  <tr class="person_row" id="person_<%= person.user_id %>">
    <% if admin %>
      <td><%= person.organization_name %></td>
    <% end %>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.email %></td>
    <% if person.uploads.length != 0 %>
      <td><%= person.uploads.first.date.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.last.date.strftime("%b %d, %Y") %></td>
      <td><%= person.uploads.length %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>
