<h1>People</h1>
<br>
<h4><%= link_to "Operations", operations_url %></h4>
<br>

<h4>Search</h4>
  <p><%= form_tag people_path, :method => :get, class: "form-search" do %>
    Last name: <%= text_field_tag :search_last_name, params[:search_last_name], class: "search-query" %></p>
    <h5>OR</h5>
    <p>Device serial: <%= text_field_tag :search_serial, params[:search_serial], class: "search-query" %></p>
    <p><%= submit_tag "Search", :name => nil, class: "btn btn-primary" %></p>
  <% end %>
<br>

<% if params[:search_last_name].present? %>
  <h4>Search Results for Last Name = <%= params[:search_last_name].capitalize %></h4>
  <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% elsif params[:search_serial].present? %>
  <h4>Search Results for Device serial number = <%= params[:search_serial] %></h4>
  <%= button_to "Clear", people_path, :method => :get, class: "btn btn-primary" %>
<% else %>
  <h4>Recently active</h4>
<% end %>

<%=form_tag import_uploads_path, multipart: true do %>
  <%=file_field_tag :file %><br>
  <%= submit_tag "Import", class: 'btn btn-info' %>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Dev Serial</th>
    <th>First Upload</th>
    <th>Last Upload</th>
    <th>Total Number of Uploads</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
    <td><%= person.email %></td>
    <td><%= person.dev_serial %></td>
    <td><%= person.events.count %></td>
  </tr>
<% end %>
</table>
