<h1>Admin Clients</h1>


<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Organization</th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr id = "<%= dom_id(client) %>">
    <td><%= link_to "#{client.first_name} #{client.last_name}", client %></td>
    <td><%= client.organization.name %> </td>
    <td><%= link_to 'Edit', edit_profile_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
