<h1>Pirate Metrics Dashboard</h1>


<div class="row-fluid section">
  <div class="span12 dashboard_item">
      <h2>Acquisition</h2>
      <div class="row">
          <div class="span2 well">
              <div class="data">
                <span class="big_number">120,000,000</span>
                <span class="device_pic pedometer"></span>
                <h4 class="device_name">
                  HJ-322U
                </h4>
              </div>
          </div>
          <div class="span2 well">
            <div class="data">
              <span class="big_number">20,000,000</span>
              <span class="device_pic pedometer"></span>
              <h4 class="device_name">
                HJ-323U
              </h4>
            </div>
          </div>
          <div class="span2 well">
            <div class="data">
              <span class="big_number">500,000</span>  
              <span class="device_pic pedometer"></span>
              <h4 class="referral_name">
                HJ-324U
              </h4>
            </div>
          </div>
          <div class="span2 well">
            <div class="data">
              <span class="big_number">2457</span>
              <span class="device_pic activity_monitor"></span>
              <h4 class="device_name">
                HJA-312
              </h4>
            </div>
          </div>
          <div class="span2 well">
            <div class="data">
              <span class="big_number">2457</span>
              <span class="device_pic hrm_monitor"></span>
              <h4 class="device_name">
                HR-500U
              </h4>
            </div>
          </div>
          <div class="span2 well">
            <div class="data">
              <span class="big_number">2457</span>
              <span class="device_pic weight_scale"></span>
              <h4 class="device_name">
                TBD
              </h4>
            </div>
          </div>
        </div>
    </div>

  <div class="alpha span6">
      <h2><%= link_to "Activation", activations_url, title: "Activation"%></h2>
      <div class="span12">
        <div id="statsChart"></div>
      </div>
  </div>
    <div class="span6 well">
      <h2>Retention</h2>
  </div>
    <div class="alpha span8 well">
      <h2>Revenue</h2>
  </div>
    <div class="span4 well">
      <h2>Referral</h2>
  </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th class="span2">Acquisition</th>
    <th class="span2"><%= link_to "Activation", activations_url %></th>
    <th class="span2">Retention</th>
    <th class="span2">Revenue</th>
    <th class="span2">Referral</th>
  </tr>
  <tr>
    <td>Number of connected devices (Pedometer, Activity Monitor, Scale, BP Monitor) sold</td>
    <td>Percentage of devices sold that are activated by connecting to the web app</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>(Hard code from sales data)</td>
    <td><%= Person.where("pedserial IS NOT NULL").count %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<h3>Misc KM stats from s3 bucket sample</h3>
<p><%= link_to 'Grab data (sample of 20) from buckets', refresh_url, class: 'btn btn-warning' %> - Careful! This loads a LOT of data</p>
<p>List of actions and how often they've been performed</p>
<ul>
<% Event.select("DISTINCT(ACTION)").each do |e| %>
  <li><%= e.action %> - <%= Event.where(action: e.action).count %></li>
<% end %>
</ul>

