<div class="row-fluid section">

<div class="span3 well">
 <h2>Acquisition <small>Number of connected devices (Pedometer, Activity Monitor, Scale, BP Monitor) sold</small></h2>
</div>

<div class="span3 well">
 <h2><%= link_to "Activation", activations_url, title: "Activation"%> </h2>

 <div class="knob-wrapper">
  <input type="text" value="50" class="knob" data-thickness=".3" data-inputColor="#333" data-fgColor="#30a1ec" data-bgColor="#d4ecfd" data-width="150">
    <div class="info">
    <div class="param">
    <span class="line blue"></span>
    Activated Devices
    </div>
  </div>
</div>
</div>

<div class="span3 well">
 <h2>Retention</h2>
</div>

<div class="span3 well">
 <h2>Revenue</h2>
</div>

<div class="span3 well">
 <h2>Referral</h2>
</div>

</div>


<!--
<h3>Misc KM stats from s3 bucket sample</h3>
<p><%= link_to 'Grab data (sample of 20) from buckets', refresh_url, class: 'btn btn-warning' %> - Careful! This loads a LOT of data</p>
<p>List of actions and how often they've been performed</p>
<ul>
<% Event.select("DISTINCT(ACTION)").each do |e| %>
  <li><%= e.action %> - <%= Event.where(action: e.action).count %></li>
<% end %>
</ul>
-->
<script type="text/javascript">
        $(function () {
            $(".knob").knob();
        });
</script>

<!-- Button for importing people, just in case -->
<%=form_tag import_uploads_path, multipart: true do %>
  <%=file_field_tag :file %><br>
  <%= submit_tag "Import", class: 'btn btn-info' %>
<% end %>
