                <!-- jQuery flot chart -->
                <div class="row-fluid section">
                    <h4 class="title">
                        Activated <small>Monthly growth</small>
                    </h4>
                    <div class="span12 alpha">
                      <%= activations_chart %>
                    </div>
                </div>

        <div class="row-fluid section">
            <h4 class="title">
                        Activated <small>by Quarter</small>
                    </h4>
                        <div class="span3 well alpha">
                            <div class="data">
                              <h4 >
                                Q1
                              </h4>
                              <p>
                                <span class="number activated"><%= quarterly_values(@y_values_as_array)[0] %></span>
                                <span class="property">Activations</span>
                              </p>
                            </div>
                        </div>
                        <div class="span3 well">
                            <div class="data">
                              <h4 class="device_name">
                                Q2
                              </h4>
                              <p>
                                <span class="number activated"><%= quarterly_values(@y_values_as_array)[1] %></span>
                                <span class="property">Activations</span>
                              </p>
                            </div>
                        </div>
                        <div class="span3 well">
                            <div class="data">
                              <h4>
                                Q3
                              </h4>
                              <p>
                                <span class="number activated"><%= quarterly_values(@y_values_as_array)[2] %></span>
                                <span class="property">Activations</span>
                              </p>
                            </div>
                        </div>
                        <div class="span3 well">
                            <div class="data">
                              <h4>
                                Q4
                              </h4>
                              <p>
                                <span class="number activated"><%= quarterly_values(@y_values_as_array)[3] %></span>
                                <span class="property">Activations</span>
                              </p>
                            </div>
                        </div>


                    </div>
    <!-- end main container -->
    <!-- build the charts -->
    <%= javascript_include_tag "pirates" %>

