<h1>Quarterly Activations by Device</h1>

<div class="btn-group span3 controls">
  <% unless @year <= 2012 %>
    <div class="btn btn_hack prev">
      <%= link_to content_tag(:i, " ", :class => "icon-arrow-left"), {controller: "pirates", action: "devices", year: @year - 1} %>
    </div>
    <% end %>

      <button class="btn"><%= @year %></button>

    <% unless @year >= Time.now.year %>
      <div class="btn btn_hack next">
        <%= link_to content_tag(:i, " ", :class => "icon-arrow-right"), {contoller: "pirates", action: "devices", year: @year + 1} %>
      </div>
    <% end %>
  </div>

<table class="table table-bordered">
  <tr>
    <th>Device</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
  </tr>

<tr>
  <td>HJ-720</td>
  <td><%= @Q1HJ720 %></td>
  <td><%= @Q2HJ720 %></td>
  <td><%= @Q3HJ720  %></td>
  <td><%= @Q4HJ720 %></td>
</tr>
<tr>
  <td>HJA-312</td>
  <td><%= @Q1HJA312 %></td>
  <td><%= @Q2HJA312 %></td>
  <td><%= @Q3HJA312  %></td>
  <td><%= @Q4HJA312 %></td>
</tr>
<tr>
  <td>HJ-320s</td>
  <td><%= @Q1HJ322 %></td>
  <td><%= @Q2HJ322 %></td>
  <td><%= @Q3HJ322  %></td>
  <td><%= @Q4HJ322 %></td>
</tr>
</table>




