<h1>Quarterly Activations by Device</h1>


<table class="table table-bordered">
  <tr>
    <th>Device</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device[0] %></td>
    <td><%= device[1][0][1] %></td>
    <td><%= device[1][1][1]%></td>
    <td><%= device[1][2][1] %></td>
    <td><%= device[1][3][1] %></td>

<% end %>
</table>

<br />

<%= link_to 'Organizations', organizations_path %>