<h1>Quarterly Activations by Device</h1>

<div class="btn-group span3 controls">
  <% unless @year <= 2012 %>
    <div class="btn btn_hack prev">
      <%= link_to content_tag(:i, " ", :class => "icon-arrow-left"), {controller: "pirates", action: "devices", year: @year - 1} %>
    </div>
    <% end %>

      <button class="btn"><%= @year %></button>

    <% unless @year >= Time.now.year %>
      <div class="btn btn_hack next">
        <%= link_to content_tag(:i, " ", :class => "icon-arrow-right"), {contoller: "pirates", action: "devices", year: @year + 1} %>
      </div>
    <% end %>
  </div>

<table class="table table-bordered">
  <tr>
    <th>Device</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device[0] %></td>
    <td><%= device[1][0][1] %></td>
    <td><%= device[1][1][1]%></td>
    <td><%= device[1][2][1] %></td>
    <td><%= device[1][3][1] %></td>

<% end %>
</table>

<br />

<%= link_to 'Organizations', organizations_path %>
