<h1>Retention by Quarter</h1>
<div class="btn-group span3 controls">
  <% unless @year <= 2011 %>
    <div class="btn btn_hack prev">
      <%= link_to content_tag(:i, " ", :class => "icon-arrow-left"), {controller: "pirates", action: "retention", year: @year - 1} %>
    </div>
  <% end %>

  <button class="btn"><%= @year %></button>

  <% unless @year >= Time.now.year %>
    <div class="btn btn_hack next">
      <%= link_to content_tag(:i, " ", :class => "icon-arrow-right"), {contoller: "pirates", action: "retention", year: @year + 1} %>
    </div>
  <% end %>
</div>
<table class="table table-bordered">
  <tr>
    <td>Quarters</td>
    <td>Q1</td>
    <td>Q2</td>
    <td>Q3</td>
    <td>Q4</td>
  </tr>

<tr>
<% date = "#{@year}-01-01".to_date %>
  <td>Aggregate</td>
  <% 4.times do  %>
    <% if Time.now > date && Time.now < date + 3.months %>
      <td>Current Quarter</td>
    <% elsif Time.now < date %>
      <td>-</td>
    <% else %>
      <td><%= PersonQuarter.active_users(date) %></td>
    <% end %>
    <% date += 3.months %>
  <% end  %>
</tr>

<tr>
  <% date = "#{@year}-01-01".to_date %>
  <td>Users Gained</td>
 <% 4.times do  %>
    <% if Time.now > date && Time.now < date + 3.months %>
      <td>Current Quarter</td>
    <% elsif Time.now < date %>
      <td>-</td>
    <% else %>
      <td><%= PersonQuarter.users_gained(date) %></td>
    <% end %>
    <% date += 3.months %>
  <% end  %>
</tr>

<tr>
  <% date = "#{@year}-01-01".to_date %>
  <td>Users Lost</td>
   <% 4.times do  %>
    <% if Time.now > date && Time.now < date + 3.months %>
      <td>Current Quarter</td>
    <% elsif Time.now < date %>
      <td>-</td>
    <% else %>
      <td><%= PersonQuarter.users_lost(date) %></td>
    <% end %>
    <% date += 3.months %>
  <% end  %>
</tr>


</table>
